$header-height: 80px;

$brakepoint-large: 1056px;
$brakepoint-medium: 768px;
$brakepoint-small: 480px;

$cubic-in: cubic-bezier(.05,.6,.18,.87);
$cubic-out: cubic-bezier(.58,0,.78,.3);
$transition-duration: 400ms;

$gutter: 8px;

$color-dark: #111111;
$color-light: #EEEEEE;